      <table id="taula" class="table">
         <thead>
               <tr>
                  <th>Id</th>
                  <th>{{ 'label.year' | trans }}</th>
                  <th>{{ 'label.month' | trans }}</th>
                  <th>{{ 'label.indicator' | trans }}</th>
                  <th>{{ 'label.value' | trans }}</th>
                  <th>{{ 'label.notes' | trans }}</th>
                  <th>{{ 'label.options' | trans }}</th>
               </tr>
         </thead>
         <tbody>
         {% for observation in observations %}
               <tr>
                  <td>{{ observation.id }}</td>
                  <td>{{ observation.year }}</td>
                  <td>{{ observation.month }}</td>
                  <td>{{ (app.request.locale == 'es') ? observation.indicator.descriptionEs : observation.indicator.descriptionEu }}</td>
                  <td>{{ observation.value | number_format(2,'.',',') }}</td>
                  <td>{{ observation.notes }}</td>
                  <td>
                     <a href="#" data-action="entity#edit" data-url="{{ path('observation_show', {'id': observation.id}) }}"><i class="fa fa-eye" title='{{ "btn.show" | trans | capitalize }}'></i></a>&nbsp;
                     <a href="#" data-action="entity#edit" data-url="{{ path('observation_edit', {'id': observation.id}) }}" data-allowEdit="true"><i class="fa fa-edit" title='{{ "btn.edit" | trans | capitalize }}'></i></a>&nbsp;
                     <a href="#" data-action="entity#delete" data-url="{{ path('observation_delete', {'id': observation.id}) }}" data-token="{{ csrf_token('delete' ~ observation.id) }}"><i class="fa fa-trash" title='{{ "btn.delete" | trans | capitalize }}'></i></a>&nbsp;
                  </td>
               </tr>
         {% else %}
               <tr>
                  <td colspan="4">no records found</td>
               </tr>
         {% endfor %}
         </tbody>
      </table>
