{% extends 'base.html.twig' %}

{% block title %}{{ 'messages.appTitle' | trans }}{% endblock %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="container-fluid">
			{{ include('observation/_indicatorSearchFilter.html.twig') }}
		</div>
	{% endif %}
	<div {{ stimulus_controller('reload-content', 
				{ 'url': path('myObservation_index'),
				  'locale': app.request.locale|split('_')[0],
				  'roles': requiredRoles,
		   })}} 
			data-action="entity:success->reload-content#refreshContent entity:init->reload-content#refreshContent table:pageChange->reload-content#onPageChange table:orderChange->reload-content#onOrderChange">

		<div {{ stimulus_controller('entity', 
					{ 'locale': app.request.locale|split('_')[0], 
					'entitySaveUrl': path('observation_save'),
					})}} 
				class="container-fluid">
				<div id="content" data-reload-content-target="content">
					{{ include('observation/_myObservation_list.html.twig', { 'indicators': indicators, 'observations': observations }) }}
				</div>
					{{ include('common/_modal.html.twig', {
						'modalTitle': 'modal.title.observation' | trans,
						'formTemplate': 'observation/_form.html.twig'
						}) 
					}}
			{{ include('common/_alert.html.twig') }}
		</div>
	</div>
{% endblock %}
