<div {{ stimulus_controller('entity', {  
      'entitySaveUrl': path('indicator_save'),
   })}} class="container-fluid">
   <div id="content">
      <table id="taula" class="table" 
         data-table-target="table" 
         data-page-number="{{ page }}" 
         data-page-size="{{ pageSize }}"
         data-page-sortName="{{ sortName }}"
         data-page-sortOrder="{{ sortOrder }}">
         <thead>
               <tr>
                  <th data-sortable="true">Id</th>
                  <th data-sortable="true">{{ 'indicator.descriptionEs' | trans }}</th>
                  <th data-sortable="true">{{ 'indicator.descriptionEu' | trans }}</th>
                  <th data-sortable="true">{{ 'indicator.requiredRoles' | trans }}</th>
                  <th>{{ 'label.options' | trans }}</th>
               </tr>
         </thead>
         <tbody>
         {% for indicator in indicators %}
               <tr>
                  <td>{{ indicator.id }}</td>
                  <td>{{ indicator.descriptionEs }}</td>
                  <td>{{ indicator.descriptionEu }}</td>
                  <td>{{ indicator.requiredRoles | join(',')}}</td>
                  <td>
                     <a href="#" data-action="entity#edit" data-url="{{ path('indicator_show', {'id': indicator.id}) }}"><i class="fa fa-eye" title='{{ "btn.show" | trans | capitalize }}'></i></a>&nbsp;
                     <a href="#" data-action="entity#edit" data-url="{{ path('indicator_edit', {'id': indicator.id}) }}" data-allowEdit="true"><i class="fa fa-edit" title='{{ "btn.edit" | trans | capitalize }}'></i></a>&nbsp;
                     <a href="#" data-action="entity#delete" data-url="{{ path('indicator_delete', {'id': indicator.id}) }}" data-token="{{ csrf_token('delete' ~ indicator.id) }}"><i class="fa fa-trash" title='{{ "btn.delete" | trans | capitalize }}'></i></a>&nbsp;
                  </td>
               </tr>
         {% else %}
               <tr>
                  <td colspan="4">no records found</td>
               </tr>
         {% endfor %}
         </tbody>
      </table>
   </div>
   {{ include('common/_modal.html.twig', {
         'form' : form,
         'modalTitle': 'modal.title.indicator' | trans,
         'formTemplate': 'indicator/_form.html.twig'
      }) 
   }}
   <span><a class="btn btn-primary rounded-circle fixed-bottom-right z-index-100" data-action="click->entity#new"><i class="fa fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i></a></span>
   {{ include('common/_alert.html.twig') }}
</div>
