<nav class="navbar navbar-expand navbar-dark bg-dark mb-1">
  <a class="navbar-brand" href="#">&nbsp;</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
		<li class="nav-item">
		  <a class="nav-link {{ ( app.request.attributes.get('_route') == 'myObservation_index' ) ? 'active': '' }}" href="{{ path('myObservation_index') }}">{{ 'navitem.observation' | trans |capitalize }}</a>
		</li>
		{% if is_granted('ROLE_ADMIN') %}
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{ 'navitem.administration' | trans | capitalize }}
		  </a>
		  <div id="js-menu-administration" class="dropdown-menu" aria-labelledby="navbarAdmin">
			  <a class="dropdown-item" href="{{ path('admin_user_list') }}">{{"navitem.users" | trans | capitalize}}</a>
			  <a class="dropdown-item" href="{{ path('indicator_index') }}">{{"navitem.indicator" | trans | capitalize}}</a>
		  </div>
		</li>
		{% endif %}}
    </ul>
  </div>
</nav>
		

