{% extends "@User/layout.html.twig" %}
{% trans_default_domain 'user_bundle' %}

{% block title %}List Users{% endblock %}

{% block menu %}
    {{ include('common/_menu.html.twig') }}
{% endblock %}

{% block user_content %}
    <main class="container-fluid">
		<div class="container-fluid" {{ stimulus_controller('reload-content', 
				{ 'url': path('admin_user_index'),
					'locale': app.request.locale|split('_')[0] })}}
				 data-action="table:pageChange->reload-content#onPageChange table:orderChange->reload-content#onOrderChange table:pageChange->user-list#onPageChange table:orderChange->user-list#onOrderChange">
			{% if users is defined and users|length > 0 %}
				<div id="content" data-reload-content-target="content">
					{{ include('@User/user/_list.html.twig', 
						{
							'exportName': 'users',
							'pageSize' : pageSize is defined ? pageSize : 10,
							'page': page is defined ? page : 1,
							'sortName': sortName is defined ? sortName : 0,
							'sortOrder': sortOrder is defined ? sortOrder : 'asc',
						}
					) }}
				</div>
			{% else %}
				<div class="mt-2 p-2 border border-black text-center bg-light">{{"messages.results0" | trans }}</div>
			{% endif %}
			<span><a href="{{ path ('admin_user_new') }}" class="btn btn-primary rounded-circle fixed-bottom-right z-index-100"><i class="fa fa-plus" title='{{ "btn.user.new" | trans | capitalize }}'></i></a></span>
		</div>
    </main>
{% endblock user_content %}